{% extends "base.html" %}

{% block content %}
<table>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <tr>
        <th></th>
        <th>Sábado</th>
        <th>Domingo</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
    </tr>
    <tr>
        <th rowspan="2">Comida</th>
        <td>{{ form.saturday_lunch_starter(style="width:180px;")}}</td>
        <td>{{ form.sunday_lunch_starter(style="width:180px;")}}</td>
        <td>{{ form.monday_lunch_starter(style="width:180px;")}}</td>
        <td>{{ form.tuesday_lunch_starter(style="width:180px;")}}</td>
        <td>{{ form.wednesday_lunch_starter(style="width:180px;")}}</td>
        <td>{{ form.thursday_lunch_starter(style="width:180px;")}}</td>
        <td>{{ form.friday_lunch_starter(style="width:180px;")}}</td>
    </tr>
    <tr>
        <td>{{ form.saturday_lunch_main(style="width:180px;")}}</td>
        <td>{{ form.sunday_lunch_main(style="width:180px;")}}</td>
        <td>{{ form.monday_lunch_main(style="width:180px;")}}</td>
        <td>{{ form.tuesday_lunch_main(style="width:180px;")}}</td>
        <td>{{ form.wednesday_lunch_main(style="width:180px;")}}</td>
        <td>{{ form.thursday_lunch_main(style="width:180px;")}}</td>
        <td>{{ form.friday_lunch_main(style="width:180px;")}}</td>
    </tr>
    <tr>
        <th>Cena</th>
        <td>{{ form.saturday_dinner(style="width:180px;")}}</td>
        <td>{{ form.sunday_dinner(style="width:180px;")}}</td>
        <td>{{ form.monday_dinner(style="width:180px;")}}</td>
        <td>{{ form.tuesday_dinner(style="width:180px;")}}</td>
        <td>{{ form.wednesday_dinner(style="width:180px;")}}</td>
        <td>{{ form.thursday_dinner(style="width:180px;")}}</td>
        <td>{{ form.friday_dinner(style="width:180px;")}}</td>
    </tr>
    <tr>
    <td>{{ form.submit()}}</td>
    </tr>
  </form>
</table>

<hr>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
<span id="clipboard">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</span>
</div>
<button onclick="myFunction()">Copy to clipboard</button>
{% endif %}
{% endwith %}

<script>
function myFunction() {
  // Get the text field
  let span = document.getElementById("clipboard");
  var copyText = span.textContent;

  // Copy the text inside the text field
  navigator.clipboard.writeText(copyText);
  
  // Alert the copied text
  alert("Copied the text: " + copyText);
}
</script>
{% endblock %}
